@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;   
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #FFFAFA;
    color: #282828;
}

.avatar {
width: 290px;
border-radius: 30px;
box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 40px;
}

.info-text h2 {
    margin-bottom: 10px;
}

.info-text p {
    font-style: italic;
    color: #808080;
    margin: 0;
}

.info-text div {
    margin-bottom: 20px;
}

a {
    color: #282828;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: #551a8b
}

.card {
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 20px;
}

.card h3 {
    margin-bottom: 10px;
}

.bg-yellow {
    background: #FFFFE0;
}

.bg-pink {
    background: #fff0f0;
}

.btn {
background: #282828;
padding: 15px 20px;
color: #fff;
border: none;
font-family: inherit;
cursor: pointer;
}

.btn:hover {    
    opacity: 0.8;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #808080;
    margin-bottom: 10px;
}

table {
    width: 100%;
}
table td {
    padding-bottom: 10px;
}

table td:nth-child(2),
table td:nth-child(3) {
    color:#808080;
}

.form h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #808080;
}

.form-group input,
.form-group textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #808080;
    box-sizing: border-box;
    background: transparent;
    padding: 15px 0 10px;
    outline: none;
    color: #282828;
    font-family: inherit;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }
}